# Some Important series methods
#### astype
#### between
#### clip
#### drop_duplicates
#### isnull
#### dropna
#### filena
#### isin
#### apply
#### copy

In [17]:
import numpy as np
import pandas as pd

In [18]:
dfs = pd.read_csv(r"E:\Learn_Data_Science\Python_For_Data_Science\Pandas_Folder\Datasets_For_Pandas\subs.csv")
sers = dfs.squeeze()
sers

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [20]:
dfk = pd.read_csv(r"E:\Learn_Data_Science\Python_For_Data_Science\Pandas_Folder\Datasets_For_Pandas\kohli_ipl.csv",index_col="match_no")
serk = dfk.squeeze()
serk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [22]:
dfb = pd.read_csv(r"E:\Learn_Data_Science\Python_For_Data_Science\Pandas_Folder\Datasets_For_Pandas\bollywood.csv",index_col='movie')
serb = dfb.squeeze()
serb

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [24]:
# astype - to change the type of data
import sys
sys.getsizeof(serk) # to get the size of file/data in memory (byte)

3472

In [25]:
serk.astype('int16')

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int16

In [27]:
sys.getsizeof(serk.astype('int16'))

2182

In [30]:
# between - does value exist in a given range - (T/F)
serk.between(50,100)

serk[serk.between(50,100)].size  # 50 and 100 both included

47

In [31]:
# clip - set a range of all the values
sers

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [32]:
sers.clip(100,200)  # (min value, max value)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [33]:
# drop_duplicates - to remove duplicates
sr = pd.Series([1,2,3,3,3,4,5,6,6,7])
sr

0    1
1    2
2    3
3    3
4    3
5    4
6    5
7    6
8    6
9    7
dtype: int64

In [35]:
sr.drop_duplicates()

0    1
1    2
2    3
5    4
6    5
7    6
9    7
dtype: int64

In [36]:
sr.drop_duplicates(keep='last') # keep the last one

0    1
1    2
4    3
5    4
6    5
8    6
9    7
dtype: int64

In [40]:
sr.duplicated()

0    False
1    False
2    False
3     True
4     True
5    False
6    False
7    False
8     True
9    False
dtype: bool

In [41]:
sr.duplicated().sum() # total duplicates

np.int64(3)

In [45]:
sr[sr.duplicated()].size

3

In [46]:
# isnull - is there any null values (T/F)
temp = pd.Series([1,2,np.nan,2,np.nan,4,4,5,7,9])
temp

0    1.0
1    2.0
2    NaN
3    2.0
4    NaN
5    4.0
6    4.0
7    5.0
8    7.0
9    9.0
dtype: float64

In [47]:
temp.size # size count all values including null

10

In [48]:
temp.count() # count() - it only count not-null values

np.int64(8)

In [49]:
temp.isnull()

0    False
1    False
2     True
3    False
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [50]:
temp.isnull().sum()

np.int64(2)

In [51]:
# dropna - remove all the null values
temp.dropna()

0    1.0
1    2.0
3    2.0
5    4.0
6    4.0
7    5.0
8    7.0
9    9.0
dtype: float64

In [52]:
# fillna - fill and replace the null values
temp.fillna(0)

0    1.0
1    2.0
2    0.0
3    2.0
4    0.0
5    4.0
6    4.0
7    5.0
8    7.0
9    9.0
dtype: float64

In [53]:
temp.fillna(temp.mean())

0    1.00
1    2.00
2    4.25
3    2.00
4    4.25
5    4.00
6    4.00
7    5.00
8    7.00
9    9.00
dtype: float64

In [54]:
# isin- to find the values in the series (T/F)
serk.isin([49,99])

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [55]:
serk[serk.isin([49,99])]

match_no
82    99
86    49
Name: runs, dtype: int64

In [56]:
# apply - to apply custom logic in series
serb

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [58]:
serb.apply(lambda x: x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [60]:
sers.apply(lambda x: 'good day' if x>sers.mean() else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object